@import '../Main/main.scss';

.t-container {
    @include base-flex(space-around);
    max-width: 940px;
    height: 100px;
    margin: 0 auto;
    background-color: lightblue;
}

// @media (max-width:767px) {
//     .t-container {
//         width: 100%;
//     }
// }