@import '../Main/main.scss';

.t-nav__container {
    @include base-flex(flex-end,center);
    width: 100%;
}

.t-nav-items {
    @include base-flex(center,center);
    .t-nav-item {
        white-space: nowrap;
        padding: 30px 40px;
        color: $base-color-3;
        &:hover {
            background-color: $base-color-3;
            color: $base-color-1;
        }
    }
}


@media (max-width:767px) {
    .t-nav-items {
        display: none;
    }
}