@import '../Main/main.scss';

.t-nav-shoppingcar {
    padding: 30px 40px;
    color: $base-color-3;
    cursor: pointer;

    &:hover {
        color: $base-color-1;
        background-color: $base-color-3;
    }
}

@media (max-width:767px) {
    .t-nav-shoppingcar {
        padding:40px
    }
}