@import '../../Main/main.scss';

.f-c-container{
    @include base-flex();
    height: 350px;
    width: 100%;
    background-color: $base-color-4;
}

.f-c-copyright{
    @include base-flex(space-between);
    flex-flow: column;
    height: 100%;
    width: 800px;
    margin: 0 10px;
}

.f-c-copyright-uparea{
    width: 100%;
    height: 75%;
    @include base-flex(space-around);
    margin-top: 30px;
}

.f-c-copyright-uparea-info{
    width: 100%;
    height: 100%;
    @include base-flex(space-between,flex-start);
    flex-flow: column;
}

.f-c-copyright-uparea-info-img{
    // background-color: purple;
    height: 30px;
    width: 170px;
    background-image: url("../../../images/logotype-sm-dark.svg");
    background-repeat: no-repeat;
}

.f-c-copyright-uparea-info-address{
    color: $base-color-3;

    li {
        margin-bottom: 10px;
    }
}

.f-c-copyright-uparea-img{
    width: 100%;
    height: 100%;
    background-image: url("../../../images/lg-今天是個吃甜點的好日子.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.f-c-copyright-downarea{
    @include base-flex(space-around,flex-end);
    width: 100%;
    height: 25%;
}

.f-c-copyright-downarea-img{
    @include base-flex(flex-start);
    width: 100%;
    .img-at {
        width: 30px;
        height: 30px;
        background-image: url("../../../images/ic-line@.svg");
        background-repeat: no-repeat;
        margin-right: 8px;
    }

    .img-facebook {
        width: 30px;
        height: 30px;
        background-image: url("../../../images/ic-facebook.svg");
        background-repeat: no-repeat;
    }
}

.f-c-copyright-downarea-msg {
    width: 100%;
    color: $base-color-3;
    text-align: right;
}



@media(max-width:767px) {
    .f-c-container{
        height: 310px;
    }

    .f-c-copyright-downarea {
        flex-flow: column;
    }

    .f-c-copyright-downarea-msg {
        text-align: left;
    }

    .f-c-copyright-uparea-img {
        display: none;
    }
}
