@mixin base-container($width) {
    width: 100%;
    max-width: $width;
    margin: 0 auto;
}

@mixin base-flex($justify-content : center,$align-items:center) {
   // width: 100%;
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin base-img($imgpath) {
    background-image: url('../../images/#{$imgpath}');
    background-repeat: no-repeat;
}