@import '../../../Main/main.scss';

.f-r-l-container {
    @include base-flex();
}

.f-r-l-img {
    background-image: url('../../../../images/logo-light.svg');
    background-repeat: no-repeat;
    margin: 0 10px;
    height: 40px;
    width: 40px;
}

.f-r-l-msg {
    margin: 0 10px;
    line-height: 40px;
    font-size: 1.5rem;
    color: $base-color-1;
}

@media(max-width:767px) {
    .f-r-l-container {
        margin-bottom: 15px;
    }
}